autom4te.cache/
m4/
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.so
*.o
*.la
*.lo
lib/
.git/
src/.*
Makefile
*.Po
lighttpd
error.log
libtool
config*
lighttpd-angel 
versionstamp.h
stamp-h1
language.settings.xml
distribute.sh 
lighttpd.8